/* General */
body {
    margin:20px 0;
}

.fa-sort-alpha-asc, .fa-sort-alpha-desc, .fa-sort-numeric-asc, .fa-sort-numeric-desc, .fa-cog, .fa-trash {
    cursor:pointer;
}

.tab-content {
	height:100%;
    padding:15px 8px 8px 8px;
    border:1px solid #DDD;
    border-top:none;
}

/* Dashboard */

/* Send */
#projectList {
    margin-top:15px;
}

#projectList #heading {
    margin-bottom:0;
    border:none;
}

#projectList .nameCol {
    width:250px;
}

#projectList .expCol {
    width:150px;
}

#projectList .editCol, #projectList .deleteCol {
    width:65px;
}

#editProjectForm {
    margin:0 15%;
}

/* Sweep */

/* Log */