/* General */
body {
    margin: 20px 0;
}

a {
  color: #FFF;
}
a:hover,
a:focus {
  color: #FFF;
}

.side-nav li {
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
}

.active {
    background-color: #111;
    border-top: 1px solid #000;
    border-bottom: 1px solid #333;
}

.fa-sort-alpha-asc, .fa-sort-alpha-desc, .fa-sort-numeric-asc, .fa-sort-numeric-desc, .fa-cog, .fa-trash {
    cursor: pointer;
}

input[disabled] {
    background-color: transparent;
    width: 25%;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

button, .btn, .form-control, .input-group-addon {
    border-radius: 0;
}

.btn-primary {
  color: #fff;
  background-color: #333;
  border-color: #333;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #333;
  border-color: #3e4245;
}
.btn-primary:hover {
  color: #fff;
  background-color: #000;
  border-color: #3e4245;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #000;
  border-color: #3e4245;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #000;
  border-color: #3e4245;
}

/* Dashboard */

/* Create/Edit */
#addNewProjectForm {
    margin-top: 15px;
}

#addNewProjectForm input[name='name'] {
    width: 75%;
}

#addNewProjectForm input[name='numAddr'] {
    width: 15%;
}

#addNewProjectForm #sweepDateGroup {
    width: 45%;
}

#addNewProjectForm .uib-datepicker-popup.dropdown-menu {
    padding: 5px;
    border-radius: 0;
}

#addNewProjectForm .uib-button-bar .btn {
    color: #000;
    font-weight: 700;
}

#editProjectForm input[name='name'] {
    width: 40%;
}

#editProjectForm input[name='numAddr'] {
    width: 15%;
}

#editProjectForm input[name='addrAmt'], #editProjectForm input[name='totalFunds'] {
    width: 25%;
}

#editProjectForm  #sweepDateGroup {
    width: 35%;
}

#projectList {
    padding-top: 15px;
    clear:both;
}

#projectList #tableHeading {
    margin-bottom: 0;
    border: none;
}

#projectList #tableHeading .scrollCol {
    width: 1px;
    display:none;
}

#projectList .innerTable {
    width: 100%;
}

#projectList .innerTable td {
    padding: 8px;
}

#projectList .nameCol {
    
}

#projectList .addrCol, #projectList .addrAmtCol {
    width: 175px;
}

#projectList .totalFundsCol, #projectList .numAddrCol {
    width: 125px;
}

#projectList .expCol {
    width: 150px;
}

#projectList .editCol, #projectList .deleteCol {
    width: 65px;
}

#editProjectForm {
}

#editProjectForm #calendarBtn {
    cursor: pointer;
}

#editProjectForm #calendarBtn:hover {
    color: inherit;
}

/* Sweep */

/* Log */