/* General */
body {
    margin: 20px 0;
}

a {
  color: #FFF;
}
a:hover,
a:focus {
  color: #FFF;
}

.active {
    background-color: #000;
}

.fa-sort-alpha-asc, .fa-sort-alpha-desc, .fa-sort-numeric-asc, .fa-sort-numeric-desc, .fa-cog, .fa-trash {
    cursor: pointer;
}

button, .btn, .form-control, .input-group-addon {
    border-radius: 0;
}

/* Dashboard */

/* Send */
#addNewProjectForm {
    margin-top: 15px;
}

#addNewProjectForm input[name='name'] {
    width:75%;
}

#addNewProjectForm input[name='numAddr'] {
    width:15%;
}

#addNewProjectForm input[name='addrAmt'] {
    width:25%;
}

#addNewProjectForm input[name='totalFunds'] {
    background-color:transparent;
    width:25%;
    border:none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#addNewProjectForm #sweepDateGroup {
    width:45%;
}

#projectList {
    padding-top: 15px;
    clear:both;
}

#projectList #heading {
    margin-bottom: 0;
    border: none;
}

#projectList .addrAmtCol {
    width: 175px;
}

#projectList .numAddrCol, #projectList .expCol {
    width: 150px;
}

#projectList .editCol, #projectList .deleteCol {
    width: 65px;
}

#editProjectForm {
}

#editProjectForm #calendarBtn {
    cursor: pointer;
}

#editProjectForm #calendarBtn:hover {
    color: inherit;
}

/* Sweep */

/* Log */