<!DOCTYPE html>
<html ng-app="SmartSweeper.fundModal" lang="en-US">
    <head>
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        
        <link type="text/css" rel="stylesheet" href="../../css/bootstrap-3.3.7.min.css" />
        <link type="text/css" rel="stylesheet" href="../../css/sb-admin.css">
        <link type="text/css" rel="stylesheet" href="../../css/font-awesome-4.7.0.min.css" />
        <link type="text/css" rel="stylesheet" href="../../css/primer-tooltips-1.5.6.css" />
		<link type="text/css" rel="stylesheet" href="../../css/styles.css" />
    </head>
    
    <body class="modalBody" ng-controller="FundProjectController as $fundCtrl" ng-init="init()">
        <div id="page-wrapper" style="padding:15px;">
            <p style="display:none;">You can fund a project by using this form or by using your wallet and inputting the txid (recommended).</p>
            <p class="fundInstr">Send funds to this address: <span id="projectAddress">{{$fundCtrl.activeProject.addressPair.publicKey}}</span> <button class="btn btn-link copy-btn" title="Copy project address to clipboard" data-clipboard-text="{{$fundCtrl.activeProject.addressPair.publicKey}}"><i class="fa fa-fw fa-clone"></i> <span class="copy-tooltip" aria-label="Copied!"></span></button></p>
            
            <div style="padding:10px 0; padding-right:0;" class="hide">
                <button type="button" class="btn btn-primary" ng-click="$fundCtrl.showForm('txidEntry')" ng-disabled="$fundCtrl.txSuccessful">Enter Existing TXID</button>
                <button type="button" class="btn btn-primary" ng-click="$fundCtrl.showForm('fundProject')" ng-disabled="$fundCtrl.validTxid">Use Funding Form</button>
            </div>
            
            <uib-accordion close-others="true">
                <div uib-accordion-group id="calculator" class="panel-default" heading="Project Funding Calculator" is-open="$fundCtrl.isOpen[0]" style="margin-top:20px;">
                    <div class="form-group">
                        <label for="txFee" class="control-label">Transaction Fee</label>
                        <input name="txFee" type="text" class="form-control" ng-model="$fundCtrl.txFee" />
                        <p>The minimum SmartCash transaction fee is Σ0.001 or Σ0.002 in most cases, but the fee for the wallet/exchange you use to fund the project may vary.</p>
                    </div>

                    <div class="form-group">
                        <label for="walletAmt" class="control-label">SMART per Wallet</label>
                        <input name="walletAmt" type="text" class="form-control" ng-model="$fundCtrl.walletAmt" calc-number />
                    </div>

                    <div class="form-group" style="margin-bottom:0;">
                        <div>
                            <label for="projectAddrs" class="control-label">Number of Promotional Wallets: </label>
                            <span>{{$fundCtrl.activeProject.numAddr}}</span>
                        </div>

                        <div>
                            <label for="projectTotal" class="control-label">Total Project Funds: </label>
                            <span>{{ ($fundCtrl.walletAmt * $fundCtrl.activeProject.numAddr) + $fundCtrl.txFee}}</span>
                        </div>
                        
                        <p style="margin:12px 0 0 0; color:#FF0000;"><i class="fa fa-fw fa-info-circle" aria-hidden="true"></i> Funds will be divided equally between all of the promo wallets.</p>
                    </div>
                </div>
                
                <div uib-accordion-group id="fundingStatus" class="panel-default" heading="Project Funding Status" is-open="$fundCtrl.isOpen[1]">
                    <p>Status of transactions used to fund the project:</p>
                    
                    <p ng-show="$fundCtrl.activeTxs === undefined">No transactions found.</p>
                    
                    <table class="table" ng-hide="$fundCtrl.activeTxs === undefined">
                        <tr>
                            <th>Txid</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Confirmations</th>
                        </tr>
                        
                        <tr ng-repeat="tx in $fundCtrl.activeTxs | orderBy: tx.txid">
                            <td>{{tx.txid}}</td>
                            <td class="text-center">                                
                                <span ng-show="!tx.confirmed">Pending</span>
                                <span ng-show="tx.confirmed">Confirmed</span>
                            </td>
                            <td class="text-center">{{tx.confirmations}} / 6</td>
                        </tr>
                    </table>
                    
                    <p><strong>Current Balance:</strong> <span ng-show="!$fundCtrl.activeProject.originalFunds">unknown</span><span ng-show="$fundCtrl.activeProject.originalFunds">{{$fundCtrl.activeProject.originalFunds | toFixedNum: 8}}</span></p>
                    
                    <!--<button type="button" class="btn btn-primary" ng-click="$fundCtrl.projectFullyFunded()" ng-disabled="$fundCtrl.activeTxs === undefined || !$fundCtrl.activeProject.txConfirmed || $fundCtrl.projectFullyFundedFlag">Project fully funded?</button>-->
                </div>
            </uib-accordion>

                <!--<div uib-accordion-group class="panel-default" heading="Enter External Transaction ID (TXID)" is-open="false">
                    <form id="projectTxForm" name="projectTxForm" ng-show="$fundCtrl.showTxEntry" ng-hide="!$fundCtrl.showTxEntry" ng-submit="$fundCtrl.projectTx(projectTxForm)">
                        <div class="form-group">
                            <label for="txid" class="control-label">TXID<i class="fa fa-fw fa-asterisk" title="Required"></i></label>
                            <input name="txid" type="text" class="form-control" ng-model="$fundCtrl.txid" required />
                        </div>

                        <div class="form-group" style="margin-bottom:0;">
                            <button type="submit" class="btn btn-primary" ng-disabled="editProjectForm.$invalid || $fundCtrl.validTxid">Submit</button>
                        </div>
                    </form>
                    
                    <div style="padding-top:10px;" role="alert">
                        <span class="error" ng-show="!$fundCtrl.validTx"><i class="fa fa-fw fa-exclamation-circle" aria-hidden="true"></i> {{$fundCtrl.msg}}</span>
                        <span class="success" ng-show="$fundCtrl.validTx"><i class="fa fa-fw fa-check" aria-hidden="true"></i> {{$fundCtrl.msg}}</span>
                    </div>
                </div>
            
            <form id="fundProjectForm" name="fundProjectForm" class="hide" ng-show="$fundCtrl.showFundForm" ng-hide="!$fundCtrl.showFundForm" ng-submit="$fundCtrl.fundInfo(fundProjectForm)">
                <div class="form-group">
                    <label for="name" class="control-label">Project name</label>
                    <input name="name" type="text" class="form-control" ng-model="$fundCtrl.activeProject.name" disabled />
                </div>

                <div class="form-group">
                    <label for="originalFunds" class="control-label">Total SMART to be sent<i class="fa fa-fw fa-asterisk" title="Required"></i></label>
                    <input name="originalFunds" type="text" class="form-control" ng-model="$fundCtrl.originalFunds" ng-pattern="$fundCtrl.greaterThanZeroIntPattern" required />
                    
                    <div ng-show="fundProjectForm.originalFunds.$error.pattern" role="alert">
                        <span class="error"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Must be at least 1.</span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="fundingAddr" class="control-label">Funding address<i class="fa fa-fw fa-asterisk" title="Required"></i></label>
                    <input name="fundingAddr" type="text" class="form-control" ng-model="$fundCtrl.fundingAddr" required />
                    <p><i class="fa fa-fw fa-info-circle" aria-hidden="true"></i> Is not stored unless it is also the address unclaimed funds will be swept to.</p>
                </div>
                
                <div class="form-group">
                    <label for="fundingPK" class="control-label">Funding private key<i class="fa fa-fw fa-asterisk" title="Required"></i></label>
                    <input name="fundingPK" type="text" class="form-control" ng-model="$fundCtrl.fundingPK" required />
                    <p><i class="fa fa-fw fa-info-circle" aria-hidden="true"></i> Is not stored.</p>
                </div>

                <div class="form-group" style="padding-top:10px; padding-right:0; clear:both;">
                    <button id="submitBtn" type="submit" class="btn btn-primary" ng-disabled="fundProjectForm.$invalid || fundProjectForm.$submitted">Fund Project</button>
                    <button id="cancelBtn" type="button" class="btn btn-default" ng-click="$fundCtrl.cancel()">Cancel</button>
                </div>
            </form>-->
        </div>
        
        <!-- libraries -->
        <script type="text/javascript" src="../../js/jquery-3.3.1.js"></script>
        <script type="text/javascript" src="../../js/angular-1.6.9.js"></script>
        <script type="text/javascript" src="../../js/angular-animate-1.6.9.js"></script>
        <script type="text/javascript" src="../../js/angular-route-1.6.9.js"></script>
        <script type="text/javascript" src="../../js/angular-touch-1.6.9.js"></script>
        <script type="text/javascript" src="../../js/ui-bootstrap-tpls-2.5.0.min.js"></script>
        
        <!-- bootstrapping -->
        <script type="text/javascript" src="../app.module.js"></script>
        <script type="text/javascript" src="fundModal.js"></script>
        
        <!-- utilities -->
        <script type="text/javascript" src="../utils/app.module.js"></script>
        <script type="text/javascript" src="../utils/constants.js"></script>
        <script type="text/javascript" src="../utils/utils.js"></script>
        <script type="text/javascript" src="../../js/clipboard.min.js"></script>
    </body>
</html>