<!DOCTYPE html>
<html ng-app="SmartSweeper.fundModal" lang="en-US">
    <head>
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Fund Project</title>
        
        <link type="text/css" rel="stylesheet" href="../../css/bootstrap-3.3.7.min.css" />
        <link type="text/css" rel="stylesheet" href="../../css/sb-admin.css">
        <link type="text/css" rel="stylesheet" href="../../css/font-awesome-4.7.0.min.css" />
		<link type="text/css" rel="stylesheet" href="../../css/styles.css" />
    </head>
    
    <body ng-controller="FundProjectController as $fundCtrl" style="margin:20px 0;" ng-init="init()">
        <div id="page-wrapper" style="padding:15px;">
            <p>You can fund a project by using this form or by using your wallet and inputting the txid (recommended).</p>
            
            <div style="padding:10px 0; padding-right:0;">
                <button type="button" class="btn btn-primary" ng-click="$fundCtrl.showForm('txidEntry')" ng-disabled="$fundCtrl.txSuccessful">Enter Existing TXID</button>
                <button type="button" class="btn btn-primary" ng-click="$fundCtrl.showForm('fundProject')" ng-disabled="$fundCtrl.validTxid">Use Funding Form</button>
            </div>
            
            <form id="projectTxForm" name="projectTxForm" class="hide" ng-show="$fundCtrl.showTxEntry" ng-hide="!$fundCtrl.showTxEntry" ng-submit="$fundCtrl.projectTx(projectTxForm)">
                <div class="form-group">
                    <label for="txid" class="control-label">TXID<i class="fa fa-fw fa-asterisk" title="Required"></i></label>
                    <input name="txid" type="text" class="form-control" ng-model="$fundCtrl.txid" required />
                </div>
                
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" ng-disabled="editProjectForm.$invalid || $fundCtrl.validTxid">Submit</button>
                </div>
            </form>
            
            <form id="fundProjectForm" name="fundProjectForm" class="hide" ng-show="$fundCtrl.showFundForm" ng-hide="!$fundCtrl.showFundForm" ng-submit="$fundCtrl.fundInfo(fundProjectForm)">
                <div class="form-group">
                    <label for="name" class="control-label">Project name</label>
                    <input name="name" type="text" class="form-control" ng-model="$fundCtrl.activeProject.name" disabled />
                </div>

                <div class="form-group">
                    <label for="originalFunds" class="control-label">Total SMART to be sent<i class="fa fa-fw fa-asterisk" title="Required"></i></label>
                    <input name="originalFunds" type="text" class="form-control" ng-model="$fundCtrl.originalFunds" ng-pattern="$fundCtrl.greaterThanZeroIntPattern" required />
                    
                    <div ng-show="fundProjectForm.originalFunds.$error.pattern" role="alert">
                        <span class="error"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Must be at least 1.</span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="fundingAddr" class="control-label">Funding address<i class="fa fa-fw fa-asterisk" title="Required"></i></label>
                    <input name="fundingAddr" type="text" class="form-control" ng-model="$fundCtrl.fundingAddr" required />
                    <p><i class="fa fa-fw fa-info-circle" aria-hidden="true"></i> Is not stored unless it is also the address unclaimed funds will be swept to.</p>
                </div>
                
                <div class="form-group">
                    <label for="fundingPK" class="control-label">Funding private key<i class="fa fa-fw fa-asterisk" title="Required"></i></label>
                    <input name="fundingPK" type="text" class="form-control" ng-model="$fundCtrl.fundingPK" required />
                    <p><i class="fa fa-fw fa-info-circle" aria-hidden="true"></i> Is not stored.</p>
                </div>

                <div class="form-group" style="padding-top:10px; padding-right:0; clear:both;">
                    <button id="submitBtn" type="submit" class="btn btn-primary" ng-disabled="fundProjectForm.$invalid || fundProjectForm.$submitted">Fund Project</button>
                    <button id="cancelBtn" type="button" class="btn btn-default" ng-click="$fundCtrl.cancel()">Cancel</button>
                </div>
            </form>
            
            <div style="padding-top:10px;" role="alert">
                <span class="error" ng-show="$fundCtrl.validTx == false"><i class="fa fa-fw fa-exclamation-circle" aria-hidden="true"></i> {{$fundCtrl.msg}}</span>
                <span class="success" ng-show="$fundCtrl.validTx"><i class="fa fa-fw fa-check" aria-hidden="true"></i> {{$fundCtrl.msg}}</span>
            </div>
        </div>
        
        <!-- libraries -->
        <script type="text/javascript" src="../../js/jquery-3.3.1.js"></script>
        <script type="text/javascript" src="../../js/angular-1.6.9.js"></script>
        <script type="text/javascript" src="../../js/angular-animate-1.6.9.js"></script>
        <script type="text/javascript" src="../../js/angular-route-1.6.9.js"></script>
        <script type="text/javascript" src="../../js/angular-touch-1.6.9.js"></script>
        <script type="text/javascript" src="../../js/ui-bootstrap-tpls-2.5.0.min.js"></script>
        
        <!-- bootstrapping -->
        <script type="text/javascript" src="../app.module.js"></script>
        <script type="text/javascript" src="fundModal.js"></script>
        
        <!-- utilities -->
        <script type="text/javascript" src="../utils/app.module.js"></script>
        <script type="text/javascript" src="../utils/constants.js"></script>
        <script type="text/javascript" src="../utils/utils.js"></script>
    </body>
</html>