<!DOCTYPE html>
<html ng-app="SmartSweeper" lang="en-US">
    <head>
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SMART Sweeper</title>
        
        <link type="text/css" rel="stylesheet" href="css/bootstrap-3.3.7.min.css" />
        <link type="text/css" rel="stylesheet" href="css/sb-admin.css">
        <link type="text/css" rel="stylesheet" href="css/font-awesome-4.7.0.min.css" />
		<link type="text/css" rel="stylesheet" href="css/styles.css" />
    </head>
    
    <body ng-controller="SmartController as $mainCtrl" ng-init="init()">
        <div id="wrapper">
            <div class="collapse navbar-collapse navbar-ex1-collapse" role="navigation">
                <ul class="nav navbar-nav side-nav">
                    <li ng-class="{active: $mainCtrl.activePage == 'dashboard'}"><a href="#!/dashboard" alt="Dashboard" ng-click="$mainCtrl.setActivePage('dashboard')"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a></li>
                    <li ng-class="{active: $mainCtrl.activePage == 'create'}"><a href="#!/create" alt="Create Project" ng-click="$mainCtrl.setActivePage('create')"><i class="fa fa-fw fa-plus"></i> Create Project</a></li>
                    <li ng-class="{active: $mainCtrl.activePage == 'fund'}"><a href="#!/fund" alt="Fund Project" ng-click="$mainCtrl.setActivePage('fund')"><i class="fa fa-fw fa-share"></i> Fund Project</a></li>
                    <li ng-class="{active: $mainCtrl.activePage == 'sweep'}"><a href="#!/sweep" alt="Sweep" ng-click="$mainCtrl.setActivePage('sweep')"><i class="fa fa-fw fa-reply"></i> Sweep Funds</a></li>
                    <li ng-class="{active: $mainCtrl.activePage == 'logs'}"><a href="#!/logs" alt="Logs" ng-click="$mainCtrl.setActivePage('logs')"><i class="fa fa-fw fa-book"></i> Logs</a></li>
                    <li ng-class="{active: $mainCtrl.activePage == 'help'}"><a href="#!/help" alt="Help" ng-click="$mainCtrl.setActivePage('help')"><i class="fa fa-fw fa-question"></i> Help</a></li>
                </ul>
            </div>
            
            <div id="page-wrapper">
                <div class="container-fluid">
                    <ng-view></ng-view>
                </div>
            </div>
        </div>
        
        <!-- libraries -->
        <script type="text/javascript" src="js/jquery-3.3.1.js"></script>
        <script type="text/javascript" src="js/angular-1.6.9.js"></script>
        <script type="text/javascript" src="js/angular-animate-1.6.9.js"></script>
        <script type="text/javascript" src="js/angular-route-1.6.9.js"></script>
        <script type="text/javascript" src="js/angular-touch-1.6.9.js"></script>
        <script type="text/javascript" src="js/ui-bootstrap-tpls-2.5.0.min.js"></script>
        
        <!-- bootstrapping -->
        <script type="text/javascript" src="app/app.module.js"></script>
        
        <!-- routing -->
        <script type="text/javascript" src="app/utils/router/router.module.js"></script>
        <script type="text/javascript" src="app/utils/router/routehelper.js"></script>
        
        <!-- utilities -->
        <script type="text/javascript" src="app/utils/app.module.js"></script>
        <script type="text/javascript" src="app/utils/config.js"></script>
        <script type="text/javascript" src="app/utils/constants.js"></script>
        <!--<script type="text/javascript" src="app/utils/js-nat-multisort.js"></script>-->
        <script type="text/javascript" src="app/utils/utils.js"></script>
        
        <!-- dashboard -->
        <script type="text/javascript" src="app/dashboard/dashboard.js"></script>
        <script type="text/javascript" src="app/dashboard/config.route.js"></script>
        
        <!-- create -->
        <script type="text/javascript" src="app/create/create.js"></script>
        <script type="text/javascript" src="app/create/config.route.js"></script>
        
        <!-- fund -->
        <script type="text/javascript" src="app/fund/fund.js"></script>
        <script type="text/javascript" src="app/fund/config.route.js"></script>
        
        <!-- sweep -->
        <script type="text/javascript" src="app/sweep/sweep.js"></script>
        <script type="text/javascript" src="app/sweep/config.route.js"></script>
        
        <!-- logs -->
        <script type="text/javascript" src="app/log/log.js"></script>
        <script type="text/javascript" src="app/log/config.route.js"></script>
        
        <!-- help -->
        <script type="text/javascript" src="app/help/help.js"></script>
        <script type="text/javascript" src="app/help/config.route.js"></script>
    </body>
</html>