<div id="sweepTab" ng-init="init()">
    <div id="projectList">
        <h4>Projects</h4>
        
        <form id="sweepForm" name="sweepForm">
            <table class="table">
                <tr>
                    <td class="sweepCol text-center"><strong>Sweep</strong></td>
                    <td class="nameCol">
                        <strong>Name</strong>
                        <i class="fa fa-fw fa-sort-alpha-asc" title="Sort A to Z" ng-show="$createCtrl.nameSortFlag == 1" ng-click="$sweepCtrl.sort('name', false)"></i>
                        <i class="fa fa-fw fa-sort-alpha-desc" title="Sort Z to A" ng-show="$createCtrl.nameSortFlag == -1" ng-click="$sweepCtrl.sort('name', true)"></i>
                    </td>
                    <td class="addrAmtCol text-center"><strong>SMART per Address</strong></td>
                    <td class="numAddrCol text-center"><strong>Total Addresses</strong></td>
                    <td class="claimedAddrCol text-center"><strong>Claimed Addresses</strong></td>
                    <td class="perClaimedCol text-center"><strong>% claimed</strong></td>
                    <td class="expCol text-center">
                        <strong>Sweep Date</strong>
                        <i class="fa fa-fw fa-sort-numeric-asc" title="Sort 0 to 9" ng-show="$sweepCtrl.sweepDateSortFlag == 1" ng-click="$sweepCtrl.sort('sweepDate', false)"></i>
                        <i class="fa fa-fw fa-sort-numeric-desc" title="Sort 9 to 0" ng-show="$sweepCtrl.sweepDateSortFlag == -1" ng-click="$sweepCtrl.sort('sweepDate', true)"></i>
                    </td>
                    <td class="editCol text-center"><strong>Edit</strong></td>
                </tr>

                <tr id="project.id" ng-class="{active: $sweepCtrl.activeProjectID == project.id}" ng-model="$sweepCtrl.availableProjects" ng-repeat="project in $sweepCtrl.availableProjects track by project.id"> <!-- js-multisort="$createCtrl.sortOptions"-->
                    <td colspan="8" style="padding:0;">
                        <table class="innerTable">
                            <tr>
                                <td class="sweepCol"><input type="checkbox" class="center-block" ng-model="$sweepCtrl.projectsToSweep[project.id]" name="projectsToSweep" ng-change="$sweepCtrl.checkboxChanged()" ng-disabled="true" ng-enabled="project.fundsSent" /></td>
                                <td class="nameCol">{{project.name}}</td>
                                <td class="addrAmtCol text-center">{{project.addrAmt | toFixedNum: 8}}</td>
                                <td class="numAddrCol text-center">{{project.numAddr}}</td>
                                <td class="claimedAddrCol text-center">{{project.claimedAddrTotal}}</td>
                                <td class="perClaimedCol text-center">{{project.percentClaimed}}%</td>
                                <td class="expCol text-center">{{project.sweepDate | date: 'mediumDate'}}</td>
                                <td class="editCol text-center"><button class="btn btn-link" title="Edit project" ng-click="$sweepCtrl.edit(project.id)"><i class="fa fa-fw fa-cog"></i></button></td>
                            </tr>
                            <tr>
                                <td colspan="8" class="addrCol"><strong>Project Address:</strong> {{project.address.publicKey}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        
            <button type="button" class="btn btn-primary" ng-disabled="$sweepCtrl.projectsToSweepCount == 0" ng-click="$sweepCtrl.sweep()">Sweep selected projects</button>
        </form>
    </div>
</div>